*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 30vw;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 50%;
}